In [1]:
import pandas as pd

df = pd.read_csv("../data/training.csv")
df.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [2]:
df.shape

(16000, 2)

In [3]:
df.columns

Index(['text', 'label'], dtype='object')

In [4]:
df['label'].value_counts()

label
1    5362
0    4666
3    2159
4    1937
2    1304
5     572
Name: count, dtype: int64

In [5]:
df.head(10)

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3
5  ive been feeling a little burdened lately wasn...      0
6  ive been taking or milligrams or times recomme...      5
7  i feel as confused about life as a teenager or...      4
8  i have been with petronas for years i feel tha...      1
9                                i feel romantic too      2

In [6]:
df['label'].unique()

array([0, 3, 2, 5, 4, 1])

In [7]:
df.groupby('label').head(1)

                                                text  label
0                            i didnt feel humiliated      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
6  ive been taking or milligrams or times recomme...      5
7  i feel as confused about life as a teenager or...      4
8  i have been with petronas for years i feel tha...      1

In [8]:
df.groupby('label')['text'].first()

label
0                              i didnt feel humiliated
1    i have been with petronas for years i feel tha...
2    i am ever feeling nostalgic about the fireplac...
3     im grabbing a minute to post i feel greedy wrong
4    i feel as confused about life as a teenager or...
5    ive been taking or milligrams or times recomme...
Name: text, dtype: object

In [9]:
#label
#0                              i didnt feel humiliated
#1    i have been with petronas for years i feel tha...
#2    i am ever feeling nostalgic about the fireplac...
#3     im grabbing a minute to post i feel greedy wrong
#4    i feel as confused about life as a teenager or...
#5    ive been taking or milligrams or times recomme...
#Name: text, dtype: object
df['label'].value_counts()

label
1    5362
0    4666
3    2159
4    1937
2    1304
5     572
Name: count, dtype: int64

In [10]:
label_map = {
    0: "sadness",
    1: "joy",
    2: "love",
    3: "anger",
    4: "fear",
    5: "surprise"
}

df['emotion'] = df['label'].map(label_map)
df[['text', 'emotion']].head(10)

                                                text   emotion
0                            i didnt feel humiliated   sadness
1  i can go from feeling so hopeless to so damned...   sadness
2   im grabbing a minute to post i feel greedy wrong     anger
3  i am ever feeling nostalgic about the fireplac...      love
4                               i am feeling grouchy     anger
5  ive been feeling a little burdened lately wasn...   sadness
6  ive been taking or milligrams or times recomme...  surprise
7  i feel as confused about life as a teenager or...      fear
8  i have been with petronas for years i feel tha...       joy
9                                i feel romantic too      love

In [11]:
df['emotion'].value_counts()

emotion
joy         5362
sadness     4666
anger       2159
fear        1937
love        1304
surprise     572
Name: count, dtype: int64